Repository devjustus/Zero-MemoryMCP: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, no-println, no-unwrap, check-yaml

cargo-fmt:
  name: Cargo Format
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: Cargo Clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: Cargo Test
  entry: cargo test --all
  language: system
  pass_filenames: false

no-println:
  name: No println! in source
  entry: (?<!// )println!
  language: pygrep

no-unwrap:
  name: No unwrap() in source
  entry: \.unwrap\(\)
  language: pygrep

check-yaml:
  name: Check YAML
  entry: check-yaml
  language: system

feat: implement process attachment and detachment
  src/core/types/error.rs
  src/process/manager/attacher.rs
  src/process/manager/detacher.rs
  src/process/manager/mod.rs
  src/process/mod.rs
  tests/process_attachment_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test, no-println, no-unwrap

feat(process): implement privilege management system
  Cargo.toml
  README.md
  src/process/mod.rs
  src/process/privileges/checker.rs
  src/process/privileges/debug.rs
  src/process/privileges/elevate.rs
  src/process/privileges/mod.rs
  tests/privilege_management_test.rs
  tests/process_attachment_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test, no-println, no-unwrap

feat(process): implement module enumeration with comprehensive tests
  src/process/info/mod.rs
  src/process/info/modules.rs
  src/process/mod.rs
  tests/module_enumeration_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test, no-println, no-unwrap

fix: add Miri ignore attribute to module enumerator creation test
  src/process/info/modules.rs
Due: cargo-fmt, cargo-clippy, cargo-test, no-println, no-unwrap

fix: add Miri ignore attribute to debug privilege guard test
  src/process/privileges/debug.rs
Due: cargo-fmt, cargo-clippy, cargo-test, no-println, no-unwrap

fix: add Miri ignore attribute to test_debug_privilege_guard
  tests/privilege_management_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: add Miri ignore attribute to debug privilege test
  src/process/privileges/debug.rs
Due: cargo-fmt, cargo-clippy, cargo-test, no-println, no-unwrap

test: improve code coverage for privilege modules
  src/process/privileges/checker.rs
  src/process/privileges/debug.rs
  src/process/privileges/elevate.rs
Due: cargo-fmt, cargo-clippy, cargo-test, no-println, no-unwrap

fix: add Miri ignore for SystemTime operations in integration tests
  tests/integration_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test

test(privileges): add comprehensive tests for 95%+ code coverage
  src/process/privileges/checker.rs
  src/process/privileges/debug.rs
  src/process/privileges/elevate.rs
  tests/privilege_comprehensive_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test, no-println, no-unwrap

fix: resolve clippy warnings and formatting issues
  src/process/privileges/checker.rs
  src/process/privileges/debug.rs
  src/process/privileges/elevate.rs
  tests/privilege_comprehensive_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test, no-println, no-unwrap

fix: resolve Miri test failures in privilege management
  src/process/privileges/checker.rs
  src/process/privileges/debug.rs
  src/process/privileges/elevate.rs
Due: cargo-fmt, cargo-clippy, cargo-test, no-println, no-unwrap

fix: add Miri ignore to integration test calling Windows FFI
  CrepoMemory-MCPci-check.ps1
  ci-check.ps1
  tests/privilege_comprehensive_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: add Miri ignore to module enumeration test
  tests/module_enumeration_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat: Implement Windows privilege management system (#10)
  Cargo.toml
  CrepoMemory-MCPci-check.ps1
  README.md
  ci-check.ps1
  src/process/mod.rs
  src/process/privileges/checker.rs
  src/process/privileges/debug.rs
  src/process/privileges/elevate.rs
  src/process/privileges/mod.rs
  tests/integration_test.rs
  tests/privilege_comprehensive_test.rs
  tests/privilege_management_test.rs
  tests/process_attachment_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test, no-println, no-unwrap

feat(process): implement module enumeration (Task 2.4) (#11)
  src/process/info/mod.rs
  src/process/info/modules.rs
  src/process/mod.rs
  tests/module_enumeration_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test, no-println, no-unwrap

RM - Unintended File
  CrepoMemory-MCPci-check.ps1
Due: none

feat(memory): implement Task 3.1 - Basic Memory Reading
  src/memory/mod.rs
  src/memory/reader/basic.rs
  src/memory/reader/cache.rs
  src/memory/reader/mod.rs
  src/memory/reader/safe.rs
  tests/memory_reading_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test, no-println, no-unwrap

test: add comprehensive tests to achieve 80%+ code coverage
  src/memory/reader/basic.rs
  tests/memory_reader_comprehensive_test.rs
  tests/memory_reader_error_paths_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test, no-println, no-unwrap

fix: resolve formatting issues for CI pipeline
  tests/memory_reader_comprehensive_test.rs
  tests/memory_reader_error_paths_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor(main): improve test coverage to 85.60%
  src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test, no-println, no-unwrap

fix: resolve CI pipeline failures
  src/main.rs
  tests/memory_reader_error_paths_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test, no-println, no-unwrap

test: improve code coverage to 86.74% with comprehensive test suite
  tests/basic_reader_coverage_test.rs
  tests/main_coverage_test.rs
  tests/safe_reader_coverage_test.rs
  tests/utils_coverage_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: resolve CI pipeline failures
  tests/basic_reader_coverage_test.rs
  tests/main_coverage_test.rs
  tests/safe_reader_coverage_test.rs
  tests/utils_coverage_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(memory): Task 3.1 - Basic Memory Reading (#12)
  src/main.rs
  src/memory/mod.rs
  src/memory/reader/basic.rs
  src/memory/reader/cache.rs
  src/memory/reader/mod.rs
  src/memory/reader/safe.rs
  tests/basic_reader_coverage_test.rs
  tests/main_coverage_test.rs
  tests/memory_reader_comprehensive_test.rs
  tests/memory_reader_error_paths_test.rs
  tests/memory_reading_test.rs
  tests/safe_reader_coverage_test.rs
  tests/utils_coverage_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test, no-println, no-unwrap

feat(memory): implement basic memory writing (Task 3.2)
  src/memory/mod.rs
  src/memory/writer.rs
  src/memory/writer/basic.rs
  src/memory/writer/mod.rs
  src/memory/writer/safe.rs
  tests/comprehensive_coverage_test.rs
  tests/memory_operations_test.rs
  tests/memory_writer_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test, no-println, no-unwrap

test: add comprehensive coverage tests for memory writer modules
  tests/writer_coverage_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: resolve formatting issues for CI pipeline
  tests/comprehensive_coverage_test.rs
  tests/memory_writer_test.rs
  tests/writer_coverage_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test

test: add comprehensive coverage tests to improve project coverage to 87.66%
  tests/coverage_95_percent_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: apply cargo fmt to resolve CI formatting issues
  tests/coverage_95_percent_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(memory): implement basic memory writing (Task 3.2) (#13)
  src/memory/mod.rs
  src/memory/writer.rs
  src/memory/writer/basic.rs
  src/memory/writer/mod.rs
  src/memory/writer/safe.rs
  tests/comprehensive_coverage_test.rs
  tests/coverage_95_percent_test.rs
  tests/memory_operations_test.rs
  tests/memory_writer_test.rs
  tests/writer_coverage_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test, no-println, no-unwrap

feat: implement memory region enumeration
  src/memory/mod.rs
  src/memory/regions/enumerator.rs
  src/memory/regions/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test, no-println, no-unwrap

feat: add region filtering
  src/memory/regions/filter.rs
Due: cargo-fmt, cargo-clippy, cargo-test, no-println, no-unwrap

feat: add memory mapping support
  src/memory/regions/mapper.rs
Due: cargo-fmt, cargo-clippy, cargo-test, no-println, no-unwrap

feat: implement protection management
  src/memory/regions/protection.rs
Due: cargo-fmt, cargo-clippy, cargo-test, no-println, no-unwrap

fix: resolve clippy warnings in regions module
  check-coverage.ps1
  ci-check.ps1
  quick-coverage.ps1
  src/memory/regions/enumerator.rs
  src/memory/regions/mapper.rs
  src/memory/regions/protection.rs
  tests/coverage_95_percent_test.rs
  tests/writer_coverage_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test, no-println, no-unwrap

fix: apply cargo fmt for CI compliance
  src/memory/mod.rs
  src/memory/regions/enumerator.rs
  src/memory/regions/filter.rs
  src/memory/regions/mapper.rs
  src/memory/regions/mod.rs
  src/memory/regions/protection.rs
Due: cargo-fmt, cargo-clippy, cargo-test, no-println, no-unwrap

fix: limit test_enumerate_regions to prevent CI timeout
  src/memory/regions/enumerator.rs
Due: cargo-fmt, cargo-clippy, cargo-test, no-println, no-unwrap

fix: resolve formatting issues for CI pipeline
  src/memory/regions/enumerator.rs
Due: cargo-fmt, cargo-clippy, cargo-test, no-println, no-unwrap

test: improve code coverage for memory regions module
  src/memory/regions/enumerator.rs
  src/memory/regions/filter.rs
  src/memory/regions/mapper.rs
  src/memory/regions/mod.rs
  src/memory/regions/protection.rs
Due: cargo-fmt, cargo-clippy, cargo-test, no-println, no-unwrap

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  no-println: any of: ^src/.*\.rs$
  no-unwrap: any of: ^src/.*\.rs$, but not: ^src/tests/|^tests/
  check-yaml: any of: \.ya?ml$
